<ul
    ng-show="vm.studyId"
    class="wvSerieslist"
>
    <!--
    Reports
    -->
    <li
        ng-show="vm.pdfInstanceIds.length > 0"
        ng-repeat="id in vm.pdfInstanceIds track by id"
        class="wvSerieslist__seriesItem"
        ng-class="{
            'wvSerieslist__seriesItem--list': vm.displayMode === 'list',
            'wvSerieslist__seriesItem--grid': vm.displayMode === 'grid',
            'wvSerieslist__seriesItem--selectable': vm.selectionEnabled,
            'wvSerieslist__pdfItem--activated': vm.selectionEnabled && vm.selectedReportIds.indexOf(id) !== -1,
            'active': vm.isActive(id),
            'highlighted': vm.isHighlighted(id)
        }"
        wv-draggable-item="{
            reportId: id
        }"
        ng-click="vm.toggleReportSelection(id)"

        bs-tooltip
        bs-enabled="vm.displayMode !== 'list'"
        data-title="{{ 'COMPONENTS.SERIES_LIST.PDF_REPORT' | translate }}"
        placement="right"
    >
        <div class="wvSerieslist__picture">
            <span class="wvSerieslist__placeholderIcon fa fa-file-text"></span>

            <span ng-if="vm.paneManager.hasReportBeenViewed(id)" class="wvSerieslist__badge--{{vm.study.color}} mr40 mb40">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </span>
        </div>
        <div
            ng-if="vm.displayMode === 'list'"
            class="wvSerieslist__information"
        >
            <span class="wvSerieslist__label mn">{{ 'COMPONENTS.SERIES_LIST.PDF_REPORT' | translate }}</span>
        </div>
    <li
        ng-show="vm.loaded && !vm.pdfInstanceIds.length && vm.showNoReportIcon"
        class="wvSerieslist__seriesItem wvSerieslist__noReport"
        ng-class="{
            'wvSerieslist__seriesItem--list': vm.displayMode === 'list',
            'wvSerieslist__seriesItem--grid': vm.displayMode === 'grid',
        }"

        bs-tooltip
        bs-enabled="vm.displayMode !== 'list'"
        data-title="{{ 'COMPONENTS.SERIES_LIST.NO_REPORT_AVAILABLE_PARAGRAPH' | translate }}"
        placement="right"
    >
        <div class="wvSerieslist__picture">
            <span class="wvSerieslist__placeholderIcon wvSerieslist__placeholderIcon--strikeout fa fa-file-text"></span>
        </div>
        <div
            ng-if="vm.displayMode === 'list'"
            class="wvSerieslist__information"
        >
            <span class="wvSerieslist__label mn">{{ "COMPONENTS.SERIES_LIST.NO_REPORT_AVAILABLE_PARAGRAPH" | translate }}</span>
        </div>
    <!--
    Videos
    -->
    <li
        ng-if="vm.videoDisplayEnabled"
        class="wvSerieslist__seriesItem"
        ng-class="{
            'wvSerieslist__seriesItem--list': vm.displayMode === 'list',
            'wvSerieslist__seriesItem--grid': vm.displayMode === 'grid',
            'wvSerieslist__seriesItem--selectable': vm.selectionEnabled,
            'wvSerieslist__videoItem--activated': vm.selectionEnabled && vm.selectedVideoIds.indexOf($video.id) !== -1,
            'active': vm.isActive(id),
            'highlighted': vm.isHighlighted(id)
        }"
        ng-show="vm.loaded && vm.videos.length > 0"
        ng-repeat="$video in vm.videos track by $video.id"
        wv-draggable-item="{
            videoId: $video.id
        }"
        ng-click="vm.toggleSelection($video.id)"

        bs-tooltip
        bs-enabled="vm.displayMode !== 'list'"
        data-title="{{ 'COMPONENTS.SERIES_LIST.VIDEO_LABEL_PARAGRAPH' | translate:{'videoDescription': $video.tags.SeriesDescription} }}"
        placement="right"
    >
        <div class="wvSerieslist__picture">
            <span class="wvSerieslist__placeholderIcon fa fa-video-camera"></span>

            <span ng-if="vm.paneManager.hasVideoBeenViewed($video.id)" class="wvSerieslist__badge--{{vm.study.color}} mr40 mb40">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </span>
        </div>
        <div
            ng-if="vm.displayMode === 'list'"
            class="wvSerieslist__information"
        >
            <span class="wvSerieslist__label mn">{{$video.tags.SeriesDescription || ("COMPONENTS.SERIES_LIST.UNTITLED_VIDEO" | translate | wvCapitalize)}}</span>
        </div>
    <li
        class="wvSerieslist__seriesItem"
        ng-repeat="id in vm.seriesIds track by id"
        wv-scroll-on-over-series-ext
        ng-class="{
            'wvSerieslist__seriesItem--list': vm.displayMode === 'list',
            'wvSerieslist__seriesItem--grid': vm.displayMode === 'grid',
            'wvSerieslist__seriesItem--oneCol': vm.displayMode === 'oneCol',
            'wvSerieslist__seriesItem--selectable': vm.selectionEnabled,
            'wvSerieslist__seriesItem--activated': vm.selectionEnabled && vm.selectedSeriesIds.indexOf($series.id) !== -1,
            'active': vm.isActive(id),
            'highlighted': vm.isHighlighted(id)
        }"
        ng-show="vm.loaded"
        wv-draggable-item="{
            seriesId: $series.id,
            csViewport: null,
            imageIndex: 0
        }"
        ng-click="vm.toggleSeriesSelection($series.id)"

        bs-tooltip
        bs-enabled="vm.displayMode !== 'list'"
        data-title="{{$series.tags.SeriesDescription || ('COMPONENTS.SERIES_LIST.UNTITLED_SERIES' | translate | wvCapitalize)}}"
        placement="right"
    >
        <div
            class="wvSerieslist__picture"
            wv-size-tag
        >
            <wv-viewport wv-image="$image" wv-image-index="$series.imageCount/2" vp:series-id="id" wv-series="$series" wv-size="{width: '[wv-size-tag]', height: '[wv-size-tag]'}"
                wv-enable-overlay="false"
            ></wv-viewport>
            <div class="wvSerieslist__badge--{{vm.study.color}}">{{$series.imageCount}}</div>

            <span ng-if="vm.paneManager.hasSeriesBeenViewed($series.id)" class="wvSerieslist__badge--{{vm.study.color}} mr40 mb40">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </span>

            <span ng-if="!!$series.tags.OsimisNote" class="wvSerieslist__badge--{{vm.study.color}} mr40 mb40">
                <i class="fa fa-star" aria-hidden="true"></i>
            </span>
        </div>
        <div
            ng-if="vm.displayMode === 'list'"
            class="wvSerieslist__information"
        >
            <p class="wvSerieslist__label mn">{{$series.tags.SeriesDescription || ('COMPONENTS.SERIES_LIST.UNTITLED_SERIES' | translate | wvCapitalize)}}</p>
            <!-- @todo reintegrate hotspots (it triggers recursive $digest atm!)
            <wvp-hotspotlist wvp-serie-id="$series.id"></wvp-hotspotlist> -->
        </div>
</ul>
